<div id="overlay">
  <div id="preloader"></div>
</div>

<header id="header">
  {{ page.header }}
</header>

<main id="main">
  {{ page.left }}
  {{ page.right }}
</main>

<footer id="footer">
  {{ page.footer }}
</footer>

<div id="nav">
  {{ page.nav }}
</div>

<div id="popup">
  <div id="popup-overlay"></div>
  {{ page.popup }}
</div>

 






  




